@font-face { 
    font-family: "GoogleSansBold";
    src: url("../fonts/GoogleSansBold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}   
@font-face {
    font-family: "Proxima Nova Bold";
    src: url("../fonts/proxima_nova_bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Intro Regular";
    src: url("../fonts/intro_regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Proxima Nova Semibold";
    src: url("../fonts/proxima_nova_semibold.woff") format("woff");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "Proxima Nova Regular";
    src: url("../fonts/proxima_nova_regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Proxima Nova Extrabold";
    src: url("../fonts/proxima_nova_extrabold.woff") format("woff");
    font-style: normal;
    font-weight: 800;
}
.container {
    margin: 0 auto;
    max-width: 1600px;
}
.header {
    display: flex;
    width: 100%;
    background-color: #fff;
    align-items: center;
}
.header__wrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 21px 15px;
    width: 100%;
}
.logo {
    display: flex;
    padding: 0 149px;
}
.logo img {
    width: 184px;
}
.menu {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    
}
.menu__wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
a {
    text-decoration: none;
    color: #000000;
    font-family: "Proxima Nova Bold";
}
.auth {
    display: flex;
    justify-content: flex-end;
}
.main {
    box-sizing: border-box;
    background-image: url(./background.png);
    background-repeat:no-repeat;
    background-size: contain;
    width: 100%;
    height: 513px;
}
.main__wrapper {
    display: flex;
    font-family: "Intro Regular";
}
.main__wrapperContent__title {
    font-family: "Intro Regular";
    color: #fff;
    font-size: 38px;
    font-weight: 400;
    line-height: 53px;
}
.main_karpachoff {
    max-width: 339px;
    max-height: 479px;
}











































@media only screen and (max-width: 380px) {
    .happy_wrapper {
        padding: 40px 15px 340px
    }

    .happy_title {
        font-size: 1.7em
    }

    .watch_wrapper {
        padding-top: 30px
    }
}
